/* 
    COLORS
    black - #111111
    gray - #747474
    white - f7f7f7
*/

pre.code {
    background-color: #dcdcdc;
    text-transform: uppercase;
}

mark {
    color: #0d99ee;
    background-color: transparent;
    text-transform: uppercase;
}

#top-navigation {
    grid-column-start: 1;
    grid-column-end: 3;
}

a {
    color: #111111;
    text-decoration: none;
    font-size: 1em;
}

body {
    display: flex;
    font-family: Arial, "Helvetica", sans-serif;
    background-color: #f7f7f7;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    max-width: 1100px;
    grid-template-columns: 8fr 2fr;
    grid-gap: 20px;
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* FONTS */
h1, .primary-title {
    font-size: 2.5em;
    color: #181818;
}

h2, .secondary-title {
    display: inline-block;
    font-size: 2.0em;
    color: #181818;
}

h3, .tertiary-title {
    font-size: 1.5em;
    color: #181818;
}

h4, .tertiary-title {
    font-size: 1.0em;
    color: #747474;
}