body {
    display: flex;
    font-family: Arial, "Helvetica", sans-serif;
    background-color: #f7f7f7;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 8fr 2fr;
    grid-gap: 20px;
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
}

#top-navigation {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* FONTS */
.primary-title {
    font-size: 2.5em;
    color: #111111;
}

.secondary-title {
    font-size: 2.0em;
    color: #111111;
}

.tertiary-title {
    font-size: 10.5m;
    color: #111111;
}